{% comment %}
    ATB-SCHEMA{
    "name":"One Column Collection",
    "id":"onecolumncollection",
    "price": 0,
    "banner":"",
    "icon": "",
    "screenshots" : [],
    "tags": "one column collection",
    "description": "One Column Collection",
    "settings":[
        {
            "id" : "imageone",
            "label" : "Image One",
            "info" : "Include an image",
            "type" : "image"
        },
        {
            "id" : "imageonemobile",
            "label" : "Image One Mobile",
            "info" : "Include an image",
            "type" : "image"
        },
        {
          "type": "select",
          "id": "background_colour_one",
          "label": "Background Colour",
          "options": [
            {
              "value": "#ffffff",
              "label": "White"
            },
            {
              "value": "#f7f7f7",
              "label": "Light Grey"
            },
            {
              "value": "#e5e5e5",
              "label": "Darker Grey"
            }
          ],
            "default": "#f7f7f7"
        },
        {
            "id" : "titleone",
            "label" : "Title One",
            "info" : "Include a title",
            "type" : "text"
        },
        {
            "id" : "linkone",
            "label" : "Link One",
            "info" : "Include a link",
            "type" : "text"
        },
        {
            "id" : "shoppablebuttontextone",
            "label" : "Shoppable Button Text",
            "info" : "Text to feature in button, leave empty if no featured products",
            "type" : "text"
        },
        {
            "type": "product",
            "id": "columnoneproductone",
            "label": "Column One Product One",
            "default": "",
            "info": "Pick up to four featured products"
        },
        {
            "type": "product",
            "id": "columnoneproducttwo",
            "label": "Column One Product Two",
            "default": ""
        },
        {
            "type": "product",
            "id": "columnoneproductthree",
            "label": "Column One Product Three",
            "default": ""
        },
        {
            "type": "product",
            "id": "columnoneproductfour",
            "label": "Column One Product Four",
            "default": ""
        }

    ]
}ATB-SCHEMA
{% endcomment %}

{% include 'atb-render' field:'imageone' %}
{% assign imageone = val %}
{% include 'atb-render' field:'imageonemobile' %}
{% assign imageonemobile = val %}
{% include 'atb-render' field:'titleone' %}
{% assign titleone = val %}
{% include 'atb-render' field:'background_colour_one' %}
{% assign backgroundcolourone = val %}
{% include 'atb-render' field:'linkone' %}
{% assign linkone = val %}
{% include 'atb-render' field:'shoppablebuttontextone' %}
{% assign shoppablebuttontextone = val %}
{% include 'atb-render' field:'columnoneproductone' %}
{% assign columnoneproductone = val %}
{% include 'atb-render' field:'columnoneproducttwo' %}
{% assign columnoneproducttwo = val %}
{% include 'atb-render' field:'columnoneproductthree' %}
{% assign columnoneproductthree = val %}
{% include 'atb-render' field:'columnoneproductfour' %}
{% assign columnoneproductfour = val %}

<section class="one atbcollection">
    <div class="container">
        <span class="column">
            <span class="atbImageContainer">
                <span class="atbImage" style="background-image: url({{ imageone }});"></span>
                <span class="atbImageMobile" style="background-image: url({{ imageonemobile }});"></span>                
                {% if shoppablebuttontextone != blank %}
                    <span class="shoppableOverlay">
                        <a href="#" class="shoppableButton">{{ shoppablebuttontextone }}</a>
                        <div class="shoppableContainer">
                            <div class="owl-carousel oneColumnCarousel">
                                {% if columnoneproductone != blank %}
                                     <div class="featuredProductWrapper">
                                         {%- assign product = all_products[columnoneproductone] -%}
                                         {%- assign current_variant = product.selected_or_first_available_variant -%}
                                         <a href="{{ product.url | within: collection }}" class="item">
                                              <span class="imageWrapper">
                                                  <span class="imageContainer" style="background-image:url('{{ product.featured_image.src | img_url: '1024x1024' }}');">
                                                  </span>
                                              </span>
                                              <span class="productInformation">
                                                  <span class="contentDetails">
                                                      <span class="productName">{{ product.title }}</span>
                                                      <span class="productPrice">{{ product.price | money }}</span>
                                                  </span>
                                              </span>
                                          </a>
                                     </div>
                                 {% endif %}
                                 {% if columnoneproducttwo != blank %}
                                     <div class="featuredProductWrapper">
                                         {%- assign product = all_products[columnoneproducttwo] -%}
                                         {%- assign current_variant = product.selected_or_first_available_variant -%}
                                         <a href="{{ product.url | within: collection }}" class="item">
                                              <span class="imageWrapper">
                                                  <span class="imageContainer" style="background-image:url('{{ product.featured_image.src | img_url: '1024x1024' }}');">
                                                  </span>
                                              </span>
                                              <span class="productInformation">
                                                  <span class="contentDetails">
                                                      <span class="productName">{{ product.title }}</span>
                                                      <span class="productPrice">{{ product.price | money }}</span>
                                                  </span>
                                              </span>
                                          </a>
                                     </div>
                                 {% endif %}
                                 {% if columnoneproductthree != blank %}
                                     <div class="featuredProductWrapper">
                                         {%- assign product = all_products[columnoneproductthree] -%}
                                         {%- assign current_variant = product.selected_or_first_available_variant -%}
                                         <a href="{{ product.url | within: collection }}" class="item">
                                              <span class="imageWrapper">
                                                  <span class="imageContainer" style="background-image:url('{{ product.featured_image.src | img_url: '1024x1024' }}');">
                                                  </span>
                                              </span>
                                              <span class="productInformation">
                                                  <span class="contentDetails">
                                                      <span class="productName">{{ product.title }}</span>
                                                      <span class="productPrice">{{ product.price | money }}</span>
                                                  </span>
                                              </span>
                                          </a>
                                     </div>
                                 {% endif %}
                                 {% if columnoneproductfour != blank %}
                                     <div class="featuredProductWrapper">
                                         {%- assign product = all_products[columnoneproductfour] -%}
                                         {%- assign current_variant = product.selected_or_first_available_variant -%}
                                         <a href="{{ product.url | within: collection }}" class="item">
                                              <span class="imageWrapper">
                                                  <span class="imageContainer" style="background-image:url('{{ product.featured_image.src | img_url: '1024x1024' }}');">
                                                  </span>
                                              </span>
                                              <span class="productInformation">
                                                  <span class="contentDetails">
                                                      <span class="productName">{{ product.title }}</span>
                                                      <span class="productPrice">{{ product.price | money }}</span>
                                                  </span>
                                              </span>
                                          </a>
                                     </div>
                                 {% endif %}
                            </div>
                            <a href="#" class="shoppableClose"></a>
                        </div>
                    </span>
                {% endif %}
            </span>
            <span class="text" style="background-color:{{ backgroundcolourone }};">
                <span class="title">{{ titleone }}</span>
                <a href="{{ linkone }}" class="std btn secondary">Shop all</a>
            </span>
        </span>
    </div>
</section>
