<div data-dtk-recentviewed="container"{% unless customer %} style="display:none;"{% endunless %}>

    {% if customer %}
	  <h1 class="title">Recently Viewed</h1>
      {% assign recentProducts = customer.metafields.dtk_recentviewed.products | split: ',' %}
      <div class="owl-carousel" id="related">
          {% for handles in recentProducts reversed limit:20 %}
              {% if handles != handle %}
                {% assign product = all_products[handles] %}
                <div class="productWrapper">
                <div class="iwishAddShop">{% include 'iwish_v2' with 'iwishCollection' %}</div>
                    <a href="{{ product.url | within: collection }}" class="item">
                        <span class="imageWrapper">
                            {% if product.metafields.accentuate.sale_flag == 'Yes' %}
                                {% if product.metafields.accentuate.flag_colour == '#ffffff' %}
                                    <span class="saleSticker" style="display: block; background-color: {{ product.metafields.accentuate.flag_colour }}; border: 2px solid {{ product.metafields.accentuate.flag_border }}; color:{{ product.metafields.accentuate.flag_border }}; ">{{ product.metafields.accentuate.flag_text }}</span>
                                {% else %}
                                    <span class="saleSticker" style="display: block; background-color: {{ product.metafields.accentuate.flag_colour }}; border-radius: 50%; border: 2px solid {{ product.metafields.accentuate.flag_border }}; color: #fff; ">{{ product.metafields.accentuate.flag_text }}</span>
                                {% endif %}
                            {% endif %}
                            <span class="imageContainer" style="background-image:url('{{ product.featured_image.src | img_url: '1024x1024' }}');">
                            </span>
                        </span>
                        <span class="productInformation">
                            <span class="contentDetails">
                                {% if product.metafields.accentuate.sale_promo_product %}
                                    {% if product.metafields.accentuate.flag_colour == '#ffffff' %}
                                        <span class="promoText" style="color: {{ product.metafields.accentuate.flag_border }};">{{ product.metafields.accentuate.sale_promo_product }}</span>
                                    {% else %}
                                        <span class="promoText" style="color: {{ product.metafields.accentuate.flag_colour }};">{{ product.metafields.accentuate.sale_promo_product }}</span>
                                    {% endif %}
                                {% endif %}
                                <span class="productName">{{ product.title }}</span>
                                <div data-price-wrapper class="price">
                                    {% if product.compare_at_price_max > product.price %}
                                        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                                        <span class="comparison" data-compare-price>
                                            <span class="was">
                                                Was {{ product.compare_at_price_max | money }}
                                            </span>
                                            <span class="now" data-product-price>
                                                Now {{ product.price | money }}
                                            </span>
                                        </span>
                                    {% else %}
                                        <span class="productPrice">{{ product.price | money }}</span>
                                    {% endif %}
                                </div>
                            </span>
                        </span>
                    </a>
                </div>
              {% endif %}
          {% endfor %}
      </div>

    {% else %}
    	<div data-dtk-recentviewed="items">
		</div>
    {% endif %}
</div>

{% raw %}
<script data-dtk-recentviewed="template" type="text/x-handlebars-template">
	<h1 class="title">Recently Viewed</h1>
	<div class="owl-carousel" id="related">
	{{#each this}}
    	<div class="productWrapper">
            <div class="iwishAddShop">
                <div class="iwishAddWrap">
            		<a class="iWishAddColl" href="#" data-variant="{{ product.variants.0.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.variants.0.title }}"><svg aria-hidden="true" focusable="false" role="presentation" class="icon heart-icon" viewBox="0 0 20 19"><path d="M10 19l-1.5-1.4C3.7 13.1 2 11.3.9 9.1.3 8 0 6.9 0 5.7 0 2.5 2.4 0 5.5 0 7.2 0 8.9.8 10 2.2 11.1.8 12.8 0 14.5 0 17.6 0 20 2.5 20 5.7c0 1.2-.3 2.3-.9 3.4-1.1 2.2-2.8 4-7.7 8.5L10 19zM5.5 2C3.5 2 2 3.6 2 5.7c0 .8.2 1.6.7 2.5 1 1.8 2.3 3.3 7.2 8l.1.1.1-.1c4.9-4.6 6.3-6.1 7.2-8 .5-.9.7-1.7.7-2.5C18 3.6 16.5 2 14.5 2c-1.1 0-2.2.5-3 1.4L10 5.3 8.5 3.4C7.7 2.5 6.6 2 5.5 2z"/></svg></a>
                </div>
            </div>
            <div class="productWrapper">
                <a href="{{ product.url }}" class="item">
                    <span class="imageWrapper">
                        <span class="saleSticker" style="display: block; background-color: {{{ metafields.flag_colour }}}; border-radius: 50%; border: 2px solid {{{ metafields.flag_border }}}; color: #fff; ">{{{ metafields.flag_text }}}</span>
                        <span class="imageContainer" style="background-image:url('{{product.image.src}}');">
                        </span>
                    </span>
                    <span class="productInformation">
                        <span class="contentDetails">
                            <span class="promoText" style="color: {{{ metafields.flag_colour }}};">{{{ metafields.sale_promo_product }}}</span>
                            <span class="productName">{{ product.title }}</span>
                            <div data-price-wrapper class="price">
                                {{#compare product.variants.0.compare_at_price product.variants.0.price operator=">"}}
                                <span class="comparison" data-compare-price>
                                    <span class="was">
                                        Was ${{ product.variants.0.compare_at_price }}
                                    </span>
                                    <span class="now" data-product-price>
                                        Now ${{ product.variants.0.price }}
                                    </span>
                                </span>
                                {{else}}
                                <span class="productPrice">${{ product.variants.0.price }}</span>
                                {{/compare}}
                            </div>
                        </span>
                    </span>
                </a>
        	</div>
    	</div>
	{{/each}}
	</div>
    <script>
	jQuery('.owl-carousel').owlCarousel({
		loop:true,
		margin:10,
		responsiveClass:true,
		responsive:{

			0:{
				items:2,
				nav:true
			},
			600:{
				items:3,
				nav:false,
				dots: true
			},
			1000:{
				items:5,
				nav:true,
				loop:false,
				dots: false
			}
		}
	});
    jQuery(".iWishAddColl").click(function() {
      var iwish_added_txt = '<svg aria-hidden="true" focusable="false" role="presentation" class="icon heart-icon-full" viewBox="0 0 20 19"><path d="M10 19l-1.5-1.4C3.7 13.1 2 11.3.9 9.1.3 8 0 6.9 0 5.7 0 2.5 2.4 0 5.5 0 7.2 0 8.9.8 10 2.2 11.1.8 12.8 0 14.5 0 17.6 0 20 2.5 20 5.7c0 1.2-.3 2.3-.9 3.4-1.1 2.2-2.8 4-7.7 8.5L10 19z"/></svg>';
      var iwish_add_txt = '<svg aria-hidden="true" focusable="false" role="presentation" class="icon heart-icon" viewBox="0 0 20 19"><path d="M10 19l-1.5-1.4C3.7 13.1 2 11.3.9 9.1.3 8 0 6.9 0 5.7 0 2.5 2.4 0 5.5 0 7.2 0 8.9.8 10 2.2 11.1.8 12.8 0 14.5 0 17.6 0 20 2.5 20 5.7c0 1.2-.3 2.3-.9 3.4-1.1 2.2-2.8 4-7.7 8.5L10 19zM5.5 2C3.5 2 2 3.6 2 5.7c0 .8.2 1.6.7 2.5 1 1.8 2.3 3.3 7.2 8l.1.1.1-.1c4.9-4.6 6.3-6.1 7.2-8 .5-.9.7-1.7.7-2.5C18 3.6 16.5 2 14.5 2c-1.1 0-2.2.5-3 1.4L10 5.3 8.5 3.4C7.7 2.5 6.6 2 5.5 2z"/></svg>';
      var iWishvId = jQuery(this).attr("data-variant");
      var iWishpId = jQuery(this).attr("data-product");
      if(isInWishlist(iWishpId,iWishvId)){
        iwish_remove(jQuery(this), iWishvId);
        jQuery(this).removeClass('iwishAdded').html(iwish_add_txt);
      }
      else{
        iwish_addCollection(jQuery(this),iWishvId);
      }

  	if($('span.iWishCount').text() == 0) {
  	   $('#iWishFull').hide();
  	   $('#iWishEmpty').show();
  	   $('#iWishEmpty .iWishCount').hide();
  	   } else {
  		   $('#iWishEmpty').hide();
  		   $('#iWishFull').show();
  	   };
      return false;
    });

    jQuery( ".iWishAddColl" ).each(function() {
      var iWishvId = jQuery(this).attr("data-variant");
      var iWishpId = jQuery(this).attr("data-product");
      if(isInWishlist(iWishpId,iWishvId)){
        jQuery(this).addClass('iwishAdded').html(iwish_added_txt);
      }

    });

    </script>
</script>
{% endraw %}
